<style type="text/css">
    body {
        color: black;
    }
    
    #main-menu>li>a.active {
        color: #263a99;
        font-weight: bold;
        font-size: 17px;
    }
    
    .danger.badge {
        position: relative;
        right: 55px;
        bottom: 18px;
        background-color: #e53935 !important;
        color: #fff;
    }
    
    .side-menu-list {
        padding: 5px;
        cursor: pointer;
    }
    
    li.side-menu-list>a>i {
        font-size: 3rem !important;
    }
    
    .header {
        margin-bottom: 12px;
        border-radius: 4px;
        padding: 5px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    
    .page-wrapper {
        padding: 0 15px !important;
    }
    
    .mt-20 {
        margin-top: 20px;
    }
    
    .btn-toggle {
        background-color: transparent;
    }
    
    .fa-3 {
        font-size: 25px !important;
    }
    
    .login-block {
        margin-bottom: 0px;
    }
    
    #login-block .dropdown-menu {
        left: 39px !important;
    }
    
    .dropdown-menu .dropdown-item {
        padding: 0 15px !important;
        text-align: right !important;
        color: #263a99 !important;
        cursor: pointer;
    }
    
    #welcome-block {
        position: relative;
        top: 12px;
        left: 16%;
        margin-bottom: 0px;
    }
    
    .dropdown-menu .dropdown-item.active {
        color: #263a99;
        font-weight: bold;
        font-size: 15px;
    }
    
    .dropdown-menu .dropdown-item:hover {
        text-decoration: none !important;
    }
</style>
<div class="container-fluid">
    <div>
        <div class="row row-eq-height header">            
            <div class="col-md-10">
                <div id="welcome-block" class="text-right mt-20">
                    <a ng-if="vm.adminUser === 'Admin'" style="cursor: pointer;" ng-click="vm.createQuestion()">Question</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a ng-if="vm.adminUser === 'Admin'" style="cursor: pointer;" ng-click="vm.listUser()">Response</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>Welcome {{vm.username}} !</span>
                </div>
            </div>
            <div class="col-md-2">
                <div id="login-block" class="text-right mt-20">
                    <div class="dropdown">
                        <button class="btn btn-toggle dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle fa-3" aria-hidden="true"></i>
                        </button>
                        <!-- <i class="fa fa-angle-down"></i> -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-click="vm.doLogout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class='col-md-12'>
                <div ui-view>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader loader-default" ng-class="{'is-active':pageLoading}"></div>